/* General text styles */
p { 

    font-family: Garamond;
    text-align: center;
    margin: 20px;
    line-height: 1.5
}
h1 {
    font-size: 45px;
    font-family: Garamond;
    text-align: center;
    margin: 20px;
}
h2 {
    font-size: 35px;
    font-family: Garamond;
    text-align: center;
    margin: 20px;
}

body, html{
    border-style: solid;
    border-width: medium;
    box-sizing: border-box;
    padding: 20px;
}

/* Container for the whole homepage */
.homepage-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 5rem;  /* TODO: Adjust bottom padding once appbar layout is finalized */
}

/* Flex container for the stock cards */
.stock-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Individual stock card styling */
.stock-card {
    background-color: #C3ECFF;
    border: 2px solid #ddd;
    border-color: black;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
/*#4169E1 a darker blue
gradient*/

.stock-card h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
  .stock-card {
    flex: 1 1 100%;
  }
}


.container {
    text-align: center;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Garamond;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C3ECFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 550;
    font-family: Garamond;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    border-style: solid;
    border-width: medium;
    text-align: left;
    border-radius: 8px;
    overflow: visible;
  }